* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Configurações Background */
html {
  background: url(/img/imagem.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  height: 100 vh;
  justify-content: center;
  opacity: 0.8;
}

/*Navegação*/

nav a {
  margin-right: 10%;
  align-items: stretch;
}

nav {
  margin-left: 75%;
  margin-top: 3%;
}

.description {
  margin-top: 20%;
}

h1{
  text-align: center;
  color: #000;
  font-weight: 10%;
  font-size: 35px;
}

p {
  text-align: center;
  color: #000;
  font-size: 25px;
}