* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Configurações Background */
html {
  background: url("./img/imagem.png");
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

/*Navegação*/
a:link, a:visited{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  
}

nav a {
  margin-right: 10%;
  
}

nav {
  margin-left: 60%;
  margin-top: 3%;
}

.description {
  margin-top: 30%;
}

.description h1 {
  text-align: center;
  color: #000;
  font-weight: 10%;
  font-size: 35px;
}

.description p {
  text-align: center;
  color: #000;
  font-size: 25px;
}

/* COnfigurações imagem de perfil */

.foto_perfil {
  border-radius: 100%;
  max-width: 200px;
  margin-top: 20%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
 
}

.nome {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
  font-weight: 10%;
}
/*Configuração dos Icones*/

.github,
.instagram,
.linkedin {
  width: 50%;
}

.alinhamento {
  width: 150px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  justify-content: space-between;
}

.apresentacao{
  margin-top: 3%;
  width: auto;
  height: auto;
  text-align: justify;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  
}

section {
  margin-top: 750px;

  height: 600px;
}